name: dependency-review

on:
  pull_request:
    paths:
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'requirements/**/*.txt'
      - 'setup.py'
      - 'setup.cfg'
      - 'poetry.lock'
      - 'uv.lock'
      - 'Pipfile'
      - 'Pipfile.lock'

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
