name: docs

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Pin pip
        uses: ./.github/actions/pin-pip

      - name: Log pip version
        run: python -m pip --version

      - name: Install dependencies
        run: python -m pip install -e ".[dev,test]"

      - name: Build docs
        run: make docs

      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-html-${{ github.sha }}
          path: docs/_build/html
          if-no-files-found: ignore
          retention-days: 7
